<footer class="footer">

    <div class="footer-top">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-about">
                        <div class="footer-logo">
                            <img src="~/assets/images/icon-logo.png" height="128" alt="logo">
                        </div>
                        <div class="footer-about-content">
                            <p>Cung cấp dịch vụ chăm sóc sức khỏe tốt nhất cho bạn chỉ với một cú nhấp chuột</p>
                            <div class="social-icon">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/bao2k4" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/bao2k4" target="_blank"><i class="fab fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/bao2k4" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/bao2k4" target="_blank"><i class="fab fa-instagram"></i></a>
                                    </li>
                                    <li>
                                        <a href="#" target="_blank"><i class="fab fa-dribbble"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Dành cho Bệnh nhân</h2>
                        <ul>
                            <li><a asp-area="" asp-controller="Home" asp-action="DoctorList">Tìm kiếm Bác sĩ</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="ServiceList">Dịch vụ</a></li>
                            <li><a asp-area="" asp-controller="Home" asp-action="Contact">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-menu">
                        <h2 class="footer-title">Dành cho Bác sĩ</h2>
                        <ul>
                            <li><a asp-area="" asp-controller="Doctor" asp-action="ViewAppointment">Cuộc hẹn</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">

                    <div class="footer-widget footer-contact">
                        <h2 class="footer-title">Liên hệ với chúng tôi</h2>
                        <div class="footer-contact-info">
                            <ul>
                                <li><a href="mailto:baook01234@gmail.com" class="text-foot ms-2">baook01234@gmail.com</a></li>
                                <li><a href="tel:+152534-468-854" class="text-foot ms-2">+84 987367341</a></li>
                                <li><a target="_blank" href="https://maps.app.goo.gl/WgP9jNevAG1NsmzFA" class="video-play-icon text-foot ms-2">Tìm địa chỉ của chúng tôi ở đây</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container-fluid">

            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="copyright-text">
                            <p class="mb-0">&copy; @DateTime.Now.Year DocCare. Bảo lưu mọi quyền.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">

                        <div class="copyright-menu">
                            <ul class="policy-menu">
                                <li><a href="#">Điều khoản và Điều kiện</a></li>
                                <li><a href="#">Chính sách</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
